<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
         <link rel="icon" href="/img/icon.png">
        <link rel='stylesheet' href='./css/styles.css'>
        <body>
            <div class="maincontent">
            {{>header}}
            <img class="potrait" src="./img/Mypic.jpg">
            <p>This site was created by Balasuiya K. It fetches the current weather for you.</p>
            </div>

            {{>footer}}
        </body>
    </head>
</html>